/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÔES GERAIS */
body {
    font-family: Arial, sans-serif;
    background: #0b0d12;
    color: #ffffff;
    min-height: 100vh;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 60px;

    border-bottom: 1px solid #242832;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #ffffff;
    text-decoration: none;

    font-size: 22px;
    font-weight: bold;
}

.logo span {
    font-size: 24px;
}

/* PESQUISA */
.search {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 280px;

    padding: 10px 14px;

    background: #151820;

    border: 1px solid #292e39;
    border-radius: 8px;
}

.search span {
    color: #7f8795;
    font-size: 20px;
}

.search input {
    width: 100%;

    background: transparent;
    border: none;
    outline: none;

    color: #ffffff;

    font-size: 14px;
}

.search input::placeholder {
    color: #7f8795;
}

/* BOTÕES DO HEADER */
.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-button,
.publish-button {
    padding: 10px 14px;

    border-radius: 8px;

    cursor: pointer;

    font-weight : bold;

    transition: 0.2s;
}

.login-button {
    background: transparent;

    border: 1px solid #292e39;

    color: #ffffff;
}

.login-button:hover {
    background: #151820;
}

.publish-button {
    background: #ffffff;

    border: 1px solid #ffffff;

    color: #0b0d12;
}

.publish-button:hover {
    transform: translateY(-2px);
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #aeb4c0;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}

/* MAIN */
main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO */
.hero {
    position: relative;

    text-align: center;

    padding: 120px 20px 100px;

    overflow: hidden;
}

.hero-content {
    max-width: 850px;
    margin: 0 auto;
}

/* BADGE*/
.hero-badge {
    display: inline-block;

    margin-bottom: 24px;

    padding: 8px 14px;

    border: 1px solid #292e39;
    border-radius: 999px;

    background: #151820;

    color: #aeb4c0;

    font-size: 14px;
}

/* TÍTULO */

.hero h2 {
    font-size: 60px;

    line-height: 1.05;

    letter-spacing: -2px;

    margin-bottom: 25px;
}

.hero h2 span {
    color: #aeb4c0;
}

/* DESCRIÇÃO */
.hero p {
    max-width: 680px;

    margin: 0 auto 35px;

    color: #8f96a3;

    font-size: 18px;

    line-height: 1.7;
}

/* BOTÕES */
.hero-actions {
    display: flex;

    justify-content: center;

    gap: 12px;
}

.hero-primary,
.hero-secondary {
    padding: 14px 22px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.hero-primary {
    background: #ffffff;

    color: #0b0d12;

    border: 1px solid #ffffff;
}

.hero-primary:hover {
    transform: translateY(-2px);
}

.hero-secondary {
    background: #151820;
    color: #ffffff;
    border: 1px solid #292e39;
}

.hero-secondary:hover {
    background: #202530;
}

/* CATEGORIAS */
.categories {
    padding: 40px 0;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.category-list button {
    padding: 12px 18px;

    background: #151820;
    color: #ffffff;

    border: 1px solid #292e39;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}

.category-list button:hover {
    background: #202530;
}

/* PROJETOS */
.projects {
    padding: 50px 0;
}

.projects h2 {
    margin-bottom: 25px;
}

.project-list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

/* CARD */
.project-card {
    background: #151820;

    border: 1px solid #292e39;

    border-radius: 12px;

    padding: 25px;

    transition: 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #ffffff;
}

.project-card h3 {
    margin-bottom: 12px;
}

.project-card p {
    color: #aeb4c0;

    line-height: 1.5;

    margin-bottom: 20px;
}

.project-card span {
    display: block;

    color: #7f8795;

    font-size: 14px;

    margin-bottom: 20px;
}

.project-card strong {
    font-size: 18px;
}

/* FOOTER */
footer {
    text-align: center;

    padding: 50px;

    margin-top: 50px;

    border-top: 1px solid #242832;

    color: #7f8795;
}