/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÔES GERAIS */
body {
    font-family: Arial, sans-serif;
    background: #0b0d12;
    color: #ffffff;
    min-height: 100vh;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 60px;

    border-bottom: 1px solid #242832;
}

header h1 {
    font-size: 28px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #aeb4c0;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}

/* MAIN */
main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 650px;
    margin: 0 auto 30px;

    color: #aeb4c0;

    font-size: 18px;
    line-height: 1.6;
}

.hero button {
    padding: 14px 28px;

    border: none;
    border-radius: 8px;

    background: #ffffff;
    color: #0b0d12;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.hero button:hover {
    transform: translateY(-2px);
}

/* CATEGORIAS */
.categories {
    padding: 40px 0;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.category-list button {
    padding: 12px 18px;

    background: #151820;
    color: #ffffff;

    border: 1px solid #292e39;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}

.category-list button:hover {
    background: #202530;
}

/* PROJETOS */
.projects {
    padding: 50px 0;
}

.projects h2 {
    margin-bottom: 25px;
}

.project-list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

/* CARD */
.project-card {
    background: #151820;

    border: 1px solid #292e39;

    border-radius: 12px;

    padding: 25px;

    transition: 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #ffffff;
}

.project-card h3 {
    margin-bottom: 12px;
}

.project-card p {
    color: #aeb4c0;

    line-height: 1.5;

    margin-bottom: 20px;
}

.project-card span {
    display: block;

    color: #7f8795;

    font-size: 14px;

    margin-bottom: 20px;
}

.project-card strong {
    font-size: 18px;
}

/* FOOTER */
footer {
    text-align: center;

    padding: 50px;

    margin-top: 50px;

    border-top: 1px solid #242832;

    color: #7f8795;
}